body{
    background-color: rgb(115, 119, 118);
    color: black;
    font-family: Arial ;
}
.menu{
    background-color: rgba(63, 65, 66, 0.568);
    border-radius: 5%;
}
.MainBox{
    background-color: rgb(169, 170, 170);
    border-radius: 5%;
    
}
.footer{
    background-color: rgba(63, 65, 66, 0.568);
    border-radius: 10%;
}